
@import url('common.css');
@import url('header.css');
@import url('footer.css');
@import url('dashboard.css');
@import url('collection.css');

/* THEMES */
:root {
    --bg-main: #0F0F1A;
    --bg-secondary: #141427;
    --bg-card: #111739;
    --text: white;
    --text-muted: rgba(255,255,255,0.6);
    --shadow: #00000067;
    --btn-border: rgba(255,255,255,0.4);
}

:root.light {
    --bg-main: #f0f0f8;
    --bg-secondary: #ddddf0;
    --bg-card: #c8c8e8;
    --text: #111;
    --text-muted: rgba(0,0,0,0.5);
    --shadow: #00000025;
    --btn-border: rgba(0,0,0,0.3);
}

